{{!-- Loop through each {{text}} in errors array to display errors --}}
{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
<!-- <div class="">When its empty</div> -->
{{/each}}