body {
    background-color: black;
  }
  
div.blackblock1 {
    background-color: black;
    width: 800px;
    height: 10px;
  }
  
.btn#query {
    background-color: black;
    color: gold;
    border: 1px solid white;
  }
  
.btn#query:hover {
    background-color: grey;
    color: white;
 }