body {
  background-color: black;
}

div.blackblock {
  background-color: black;
  width: 800px;
  height: 358px;
}

.btn#query {
  background-color: black;
  color: gold;
  border: 1px solid white;
}

.btn#query:hover {
  background-color: grey;
  color: white;
}