body {
    background-color: black;
    color:gold;
  }
  
  div.footer {
      font-size: 10px;
  }
  
  div.homedescription {
    position: absolute;
    top: 115px;
    left: 25px;
    height: 450px;
    width: 275px;
    border: 1px solid white;
  }
  
  div.homeimageandpolicy {
    position: absolute;
    top: 115px;
    left: 315px;
    height: 475px;
    width: 750px;
  }
  
  div.moviescomingsoon {
    position: absolute;
    padding-left: 25px;
    padding-top: 10px;
    top: 115px;
    left: 900px;
    height: 450px;
    width: 350px;
    border: 1px solid white;
  }
  
  div.homeimage {
    padding-left: 50px;
    height: 300px;
  }
  
  div.homeimagedes {
    font-size: 10px;
    padding-left: 50px;
    width: 550px;
    height: 35px;
  }
  
  div.homepolicy {
    padding-top: 10px;
    padding-left: 50px; 
    width: 500px;
    height: 125px;
  }
  
  div.comingsoontitle {
    text-align: center;
    padding: 5px;
  }
  
  div.comingsoon1, div.comingsoon2,
  div.comingsoon3, div.comingsoon4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    float: left;
    width: 150px;
    height: 183px;
  }
  
  div.homecontentedit1 {
    padding-top: 260px;
    padding-left: 215px;
  }
  
  div.homecontentedit2 {
    padding-right: 5px;
    float: right;
  }
  
  div.homecontentedit3 {
    padding-left: 270px;
  }