<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<style>
   *{
       color: gold;
   }
    body{
        background-color: black;
    }
    .table{
        color: gold;
        margin-top: 20px;
    }
    .counter{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 190px;
    width: 190px;
    padding: 30px 25px 25px;
    margin: 0 auto;
    border: 3px solid gold;
    border-radius: 20px 20px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: gold;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 100px;
    height: 100px;
    border: 15px solid gold;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
    box-shadow: none;
    top: auto;
    left: -10px;
    bottom: -10px;
    right: auto;
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.add{ float: left; position: relative; margin-top: 14px; margin-right: 10px; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
</style>
{{> navbar}}

<div class="add">
    <a href="/auth/add/user">
<button type="button" class="btn btn-info" id="user">Add Users</button>
</a>
</div>
<div id="toolbar" class="select">
    <select class="form-control" style="color: #000000;">
        <option value="" style="color: #000000;">Export Basic</option>
        <option value="all" style="color: #000000;">Export All</option>
        <option value="selected" style="color: #000000;">Export Selected</option>
    </select>
</div>
<div class="table">
<table id="table"    data-toggle="table" data-url="/counter/users-data"
 data-height="600" data-pagination="true" data-side-pagination="server" 
  data-search="true" data-page-list="[10, 25, 50, 100, all]" data-show-export="true"    data-click-to-select="true"
  data-toolbar="#toolbar">
    <thead>
        <tr>
            <th data-field="name" >Name</th>
            <th data-field="email">Email Address</th>
            <th data-field="verified">Email Verification</th>
            <th data-field="role">User Role</th>
            <th data-field="action" data-formatter="actionFormatter">Action</th>
        </tr>
    </thead>
</table>
</div>
<div class="container" id="toolbar">
    <div class="row">
        <div class="col-md-3 col-sm-6" id="users">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fas fa-users"></i>
                </div>
                <span class="counter-value">{{total}}</span>
                <h3 style="color: black;">Total Users</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="customer">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fas fa-address-book"></i>
                </div>
                <span class="counter-value">{{customer}}</span>
                <h3 style="color: black;">Registered Customer</h3>
            </div>

        </div>
        <div class="col-md-3 col-sm-6" id="staff">
            <div class="counter ">
                <div class="counter-icon">
                    <i class="fas fa-id-card"></i>
                </div>
                <span class="counter-value">{{staff}}</span>
                <h3 style="color: black;">Staff</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="manager">
            <div class="counter">
                <div class="counter-icon">
                    <i class='fas fa-user'></i>
                </div>
                <span class="counter-value">{{manager}}</span>
                <h3 style="color: black;">Manager</h3>
            </div>
        </div>
    </div>
</div>
<script>
    var $table = $('#table')
      function actionFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                if (key == 'uuid') {
                    html.push('<form method="POST" action="/counter/delete/' + value + '?_method=Post"><a  onclick="parentNode.submit();"  class="remove"  href="javascript:;"><i class="fa fa-trash"></i> Delete User</a></form>')
                }
            })
            return html.join('')
      }
</script>
<script>
    var $table = $('#table')

    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        visible: $(this).val() === 'selected'
                    },
                    {
                        field: 'name',
                        title: 'User Name'
                    }, 
                    {
                        field: 'email',
                        title: 'Email'
                    },
                      {
                        field: 'role',
                        title: 'User Role'
                    }
                ]
            })
        }).trigger('change')
    })
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
    $(document).ready(function(){
    $('.counter-value').each(function(){
    $(this).prop('Counter',0).animate({
    Counter: $(this).text()
    },{
    duration: 1000,
    easing: 'swing',
    step: function (now){
    $(this).text(Math.ceil(now));
    }
    });
    });
    });
</script>
