<style>
    body {
        background: #333333;
        color: rgb(255, 251, 0);
    }
</style>

<body>
    <form method="POST" action="/admin/option">
        <h3> Enter the options</h3>
        <label>Location:</label>
        <input type="text" id="location" name='location'><br>
        <label>Time:    </label>
        <input type="text" id="time" name="time"><br>
        <label>Date:    </label>
        <input type="text" id="date" name="date"><br>
        <input type="submit" value="Add" class="btn btn-primary" />
    </form>
</body>