<style>
    body {
        margin-top: 20px;
        background-color: black;
    }

    a {
        color: whitesmoke;
    }

    .button {
        color: white;
    }
</style>
<script>
    // Add , Dlelete row dynamically

    $(document).ready(function () {
        var i = 1;
        $("#add_row").click(function () {
            $('#addr' + i).html("<td> " + (i + 1) + "</td><td><input type='text' name='location' placeholder='E.g. Bishan' class= 'form-control' style = 'color: black;'' /></td><td><input type='datetime-local' id='datefield' name='time' style='color: black;'></td><td><input type='number' name='small' class='form-control' style='color: black;' /></td><td><input type='number' name='medium' class='form-control' style='color: black;' /></td><td><input type='number' name='large' class='form-control' style='color: black;'' /></td>");
            $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });
        $("#delete_row").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
        });

    });
    var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
        var hh = today.getHours();
        var m = today.getMinutes();
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        if (hh < 10) {
            hh = '0' + hh
        }
        if (m < 10) {
            m = '0' + m
        }
        today = yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + m;
        document.getElementById('datefield').setAttribute('min', today);
</script>

<form class="container" method="POST" action="/admin/option">
    <div class="row setup-content" id="step-1" >
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h1 > Add Options for customer</h1>

                <div class="container col-xs-12">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center" >
                                            #
                                        </th>
                                        <th class="text-center" >
                                            Location
                                        </th>
                                        <th class="text-center">
                                            Date&amp;Time
                                        </th>
                                        <th class="text-center" >
                                            Number of Small Rooms
                                        </th>
                                        <th class="text-center">
                                            Number of Medium Rooms
                                        </th>
                                        <th class="text-center">
                                            Number of Large Rooms
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                        <tr >
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                <input type="text" name='location' placeholder='E.g. Bishan' class="form-control" style="color: black;" />
                                            </td>
                                            <td>
                                                <input type="datetime-local" id="datefield" class="form-control" name="time" min="" style="color: black;">
                                            </td>
                                            <td>
                                                <input type="number" name='small' class="form-control" style="color: black;" />
                                            </td>
                                            <td>
                                                <input type="number" name='medium' class="form-control" style="color: black;" />
                                            </td>
                                            <td>
                                                <input type="number" name='large' class="form-control" style="color: black;" />
                                            </td>
                                    <tr id='addr0' >
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <input type="text" name='location' placeholder='E.g. Bishan'
                                                class="form-control" style="color: black;" />
                                        </td>
                                        <td>
                                            <input type="datetime-local" id="datefield" class="form-control" name="time" min="" style="color: black;" >
                                        </td>
                                        <td>
                                            <input type="number" name='small' class="form-control" style="color: black;" />
                                        </td>
                                        <td>
                                            <input type="number" name='medium' class="form-control" style="color: black;" />
                                        </td>
                                        <td>
                                            <input type="number" name='large' class="form-control" style="color: black;" />
                                        </td>
                            </table>
                        </div>
                    </div>
                    <div class="button">
                        <a id="add_row" class="btn btn-success pull-left">Add More</a>
                        <a id='delete_row' class="btn btn-danger pull-centre">Delete Row</a>
                    </div>

                </div>
                <input type="submit" class="btn btn-primary pull-right" value="Submit">

            </div>
        </div>
    </div>
</form>