<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<style>
  body {
    background-color: black;
  }
  * {
    color: gold;
  }
</style>
{{> navbar}}
<table
  id="table"
  data-addrbar="true"
  data-toggle="table"
  data-search="true"
  data-pagination="true"
  data-side-pagination="server"
  data-height="460"
  data-show-columns="true"
  data-url="/admin/retrievefaq-data"
>
<h1>Faq List</h1>
  <thead>
      <tr>
        <th data-field="questions">Question:</th>
        <th data-field="answers">Answer:</th>
       <th data-field="action" data-formatter="actionFormatter">Update/Delete</th>
      </tr>
  </thead>
</table>


<script> 
    var selections = [];
    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== questions
        })
        return res

    };
  function actionFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'questions') {
                html.push('<a class="update" href="/faq/updatefaq/' + value + '" ><i class="fa fa-edit"></i>Update</a>')
                html.push('<form method="GET" action="/faq/deletefaq/' +value+'?_method=DELETE"><a  onclick="parentNode.submit();"  class="remove"  href="javascript:;"><i class="fa fa-trash"></i>Delete</a>  </form>')
            }
        })
        return html.join('')
    }</script>