<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

<style>
  
  body {
    background-color: black;
  }
  * {
    color: gold;
  }
</style>

<table
  id="table"
  data-addrbar="true"
  data-toggle="table"
  data-search="true"
  data-pagination="true"
  data-side-pagination="server"
  data-height="460"
  data-sort-order="desc"
  data-show-columns="true"
  data-show-footer="true"
  {{!-- dont need to put / in front --}}
  data-url="/admin/retrievereview-data"
>
{{> navbar}}

<h1 style="text-align:center">Reviews</h1>
  <thead>
      <tr>
        <th data-field="rating"data-sortable="true"data-footer-formatter="idFormatter">Rating:</th>
        <th data-field="feedback"data-footer-formatter="idFormatter2">Feedback:</th>
        <th data-field="TypeReview"data-footer-formatter="idFormatter3">Review Type:</th>
       <th data-field="action" data-formatter="actionFormatter"data-footer-formatter="nameFormatter">Delete:</th>
      </tr>
  </thead>
</table>


<script> 
  function idFormatter() {
    return 'Total'
  }

  function idFormatter2() {
    return 'Number'
  }
  function idFormatter3() {
    return 'Reviews:'
  }

  function nameFormatter(data) {
    return data.length
  }


   function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    };
    var selections = [];
    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    };
    function actionFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'uuid') {
                html.push('<form method="POST" action="/review/deletereview/' + value + '?_method=Post"><a  onclick="parentNode.submit();"  class="remove"  href="javascript:;"><i class="fa fa-trash"></i> Delete</a></form>')
            }
        })
        return html.join('')
    }</script>
