<style>
* {
    color: gold;
}

#toolbar {
  width: 175px;
  margin: 0;
}

table#dtBasicExample th {
    color: gold;
}

body#bodybg, table#dtBasicExample td {
  background: black;
  color: gold;
}

#dtBasicExample {
  width:min-content;
}

.List{
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 600px;
  float: left;
}

div.blackblock1 {
    background-color: black;
    width: 800px;
    height: 10px;
  }
</style>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
{{!-- 
<script src="/public/js/businessstatistics.js"></script> --}}
{{!-- <link rel="stylesheet" href="/public/css/businessstatistics.css"> --}}
</head> 

<body id='bodybg'>
    {{>navbar}}
<div class="CreateMoviesAndSongs">
    <div class="submit">
        <form action="../song/createsong">
            <input type="submit" value="Create Song" class="btn btn-outline-warning">
        </form>
    </div>
    <div class="blackblock1"></div>
</div>

<h1>Song Data Table</h1>
<table
    id = "id"
    data-show-export="true"
 	data-toggle="table"
    data-search="true"
    data-pagination="true"
    data-total-field="total"
    data-data-field="rows"
    data-show-columns-toggle-all="true"
	data-side-pagination="server"
    data-sort-name="dateCreated"
    data-height="600"
    data-silent-sort="false"
    data-server-sort="true"
    data-search="true"
    {{!-- data-page-number="50" --}}
    data-pagination="true"
    {{!-- data-page-size="5" --}}
    data-page-list="[10, 25, 50, 100, 200, All]"
    data-show-refresh="true"
    data-show-columns="true"
    data-show-columns-search="true"
    data-addrbar="true"
	data-url="/song/chooseeditsongstable-data"
    >
	<thead>
		<tr>
            <th data-field="dateCreated" data-sortable="true">Creation Date</th>
            <th data-field="dateUpdated" data-sortable="true">Update Date</th>
            <th 
            {{!-- data-field="movieimage" --}}
            data-formatter="table_row_image">Song Poster</th>
            <th data-field="songname" data-sortable="true">Name</th>
            <th data-field="songagerating" data-sortable="true">Age Rating</th>
            <th data-field="songduration" data-sortable="true">Duration</th>
            <th data-field="songgenre" data-sortable="true">Genre(s)</th>
            <th data-formatter="table_row_edit" >Edit</th>
		</tr>
	</thead>
</table>

<script>

	function table_row_image(value, row, index) {
		return `
		<img src="/public/uploads/${row.songimage}" 
        style="width: 110px; height: 160px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
	}

	/**
	 * Formats the action column for each row of data
	 **/
	function table_row_edit(value, row, index) {
		return `
		<a href="../song/updatesong/${row.song_uuid}">
			<i class="fa fa-edit"></i>
		</a>

		<a href="../song/deletesong/${row.song_uuid}">
			<i class="fa fa-trash"></i>
		</a>
		`;
	}

	{{!-- async function action_delete(tid) {
		const response = await fetch("/admin/manage-users/api/delete", {
			method:  "POST",
			headers: { "Content-Type": "application/json" },
			body:    JSON.stringify({ uuid: tid })
		});

		if (response.ok) {
			$('#table-user').bootstrapTable('refresh');
		}
		else {
			$('#dialog-failed').modal();
		}
	} --}}
{{!--     
    $(document).ready(function () {
    $('#dtBasicExample').DataTable({
        lengthMenu: [ [2, 4, 8, -1], [2, 4, 8, "All"] ],
        pageLength: 4,
    "searching": true // false to disable search (or any other option)
    });
    $('.dataTables_length').addClass('bs-select');
    }); --}}
</script>

</body>