<t class="display-4"></t>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    background-color: black;
    color: gold;
  }

  .collapsible {
    background-color: rgb(0, 0, 0);
    color: gold;
    cursor: pointer;
    padding: 10px;
    width: 95%;
    outline: white;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    border: 3px solid gold;
    margin: 10px;
    border-radius: 10px;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(197, 153, 8);
    color: black;

  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: black;
    color: gold;
    text-align: center;
  }
</style>
</head>

<body>

  {{> navbar}}

  <h1 class="display-4" style="text-align:center; color: gold">FAQ</h1>
  {{#each homedes}}
  <button class="collapsible">{{questions}}</button>
  <div class="content">

    <div class="form-group">
      <label for="answers" >{{answers}}</label>
    </div>

  </div>

  </div>
  {{/each}}
  <br>
  <br>
  <h5 style="color: gold; margin-bottom:10px">Email us at nypgoldentv@gmail.com or <a href="/contactus">Contact us</a> for more information !</h5>


  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>