<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{{> navbar}}
<h1 style="justify-content: center;">Room that booked for movie and karaoke</h1>
<div class="container" style="width: 600px;height:500px">

    <canvas id="myChart" width="50" height="50"></canvas>

</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            
            labels: [{{#each label}}
						'{{this}}',
                {{/each}}],
            datasets: [{
                label: 'Movie',
                data: [
                    {{#each movie}}
						{{ this}},
					{{/ each}}
					],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                        borderWidth: 1
        }, {
                label: 'Karaoke',
                    data: [
                        {{#each song}}
            {{this}},
            {{/each}}
					],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                            borderWidth: 1
                }]
    },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Room Details'
                    }
                }
            },
        });
</script>