<style>

body {
  background-color: black;
}

h1, h5, label {
  color: gold;
}

div.blackblock {
  background-color: black;
  height: 25px;
}

.btn#query {
  background-color: black;
  color: gold;
  border: 1px solid white;
}

.btn#query:hover {
  background-color: grey;
  color: white;
}
</style>
{{>navbar}}
<h1 class="display-4">Create Songs</h1>

<form method="POST" action="" name="" enctype="multipart/form-data">
  
  <div class="form-group">
  <h5>Song Image</h5>
  <input type="file" id="songimage" 
  onchange="document.getElementById('imagedisplay').src = window.URL.createObjectURL(this.files[0])" 
  name="songimage" value="{{songimage}}" required>

  <img id="imagedisplay" src="/public/img/No-Image-PlaceHolder.png" 
  alt="" class="border img-thumbnail img-fluid"
  style="width: 110px; height: 160px; padding-bottom: 5px;">
  </div>

  <div class="form-group">
  <h5>Song Name</h5>
  <input type="songname" name="songname" class="form-control" value="{{songname}}" required>
  </div>

  <h5>Song Age Rating</h5>
  <br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="G" value="G" name="songagerating" checked>
    <label class="form-check-label" for="G">G</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="PG" value="PG" name="songagerating">
    <label class="form-check-label" for="PG">PG</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="PG13" value="PG13" name="songagerating">
    <label class="form-check-label" for="PG13">PG13</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="NC13" value="NC13" name="songagerating">
    <label class="form-check-label" for="NC13">NC13</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="M18" value="M18" name="songagerating">
    <label class="form-check-label" for="M18">M18</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="R21" value="R21" name="songagerating">
    <label class="form-check-label" for="R21">R21</label>
  </div>

  <div class="blackblock"></div>

  <div class="form-group">
  <h5>Song Duration</h5>
  <input type="songduration" name="songduration" class="form-control" value="{{songduration}}" required>
  </div>

  <div class="form-group">
    <h5>Song Genres</h5>
	<input type="checkbox" name="songPop" value="false">
	<label class="form-check-label" for="Pop">Pop</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songRock" value="false">
	<label class="form-check-label" for="Rock">Rock</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songMetal" value="false">
	<label class="form-check-label" for="Metal">Metal</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songCountry" value="false">
	<label class="form-check-label" for="Country">Country</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songRap" value="false">
	<label class="form-check-label" for="Rap">Rap</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songElectronic" value="false">
	<label class="form-check-label" for="Electronic">Electronic</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songJazz" value="false">
	<label class="form-check-label" for="Jazz">Jazz</label>
	<div class="blackbox"></div>
	<input type="checkbox" name="songFolk" value="false">
	<label class="form-check-label" for="Folk">Folk</label>
	<div class="blackbox"></div>
  </div>

  <div class="submit">
    <input class="btn" id="query" type="submit">
  </div>

</form>