<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script
  src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<title>Home</title>
{{!-- <link rel="stylesheet" type="text/css" href="public/css/home.css" media="screen" /> --}}

<body>
  {{>navbar}}
  <div class="homedescription">
    <div class="homecontent">
      {{ homedescription }}
    </div>
    {{#if (cmp_eq user.role "staff") }}
    <div class="homecontentedit1">
      <form action="../edithomedes">
        <input type="submit" value="Edit" class="btn btn-outline-warning">
      </form>
    </div>
    {{/if}}
  </div>


  <div class="homeimageandpolicy">
    <div class="homeimage">
      <img id="homeimage" style="width:500px; " src="public/uploads/{{ homeimage }}">
    </div>
    <div class="homeimagedes">
      {{ homepolicy }}
      {{#if (cmp_eq user.role "staff") }}
      <div class="homecontentedit2">
        <form action="../edithomeimagepolicy">
          <input type="submit" value="Edit" class="btn btn-outline-warning">
        </form>
      </div>
      {{/if}}
    </div>
    <div class="homepolicy">
      <img style="width:500px; height: 70px;" src="public/uploads/{{ homepolicyimage }}">
      <div class="footer">© 2020 Teo Heng. All rights reserved.</div>
      <div class="footer">© 2020 Golden Village. All rights reserved.</div>
    </div>
  </div>

  <div class="moviescomingsoon">
    <div class="comingsoontitle">LATEST RELEASES!</div>

    <div class="w3-third w3-container w3-margin-bottom">
      <table id="id" data-toggle="table" data-pagination="true" data-total-field="total" data-data-field="rows"
        data-side-pagination="server" data-sort-name="dateCreated" data-server-sort="true" data-pagination="true"
        data-page-list="[6, 12, 24, 50, All]" data-show-columns-search="true" data-addrbar="true"
        data-show-custom-view="true" data-custom-view="customViewFormatter4" data-url="/movie/chooseeditmoviestable_data">
        <thead>
          <tr>
            <th data-field="dateCreated" data-sortable="true">Creation Date</th>
            <th data-field="dateUpdated" data-sortable="true">Update Date</th>
            <th data-formatter="table_row_image2">Movie Poster</th>
            <th data-field="moviename" data-sortable="true">Name</th>
            <th data-field="movieagerating" data-sortable="true">Age Rating</th>
            <th data-field="movieduration" data-sortable="true">Duration</th>
            <th data-field="moviegenre" data-sortable="true">Genre(s)</th>
          </tr>
        </thead>
      </table>
      <template id="profileTemplate2" style="color: black;">
        <div class="mt-2" style="float:left; padding-right:10px;">
          <div class="card" style="border-color: gold; background-color: black; width:350px;">
            <div class="card-body" style="padding-left:30px; box-sizing: border-box; position: relative;">
              <div class="row">
                <img src="../public/uploads/%movieimage%"
                  style="border-width: thin; border-style:solid; border-radius: 5px; width: 120px; height: 150px; float: left;"
                  alt="">
                <div style="float: left; padding-left:10px;">
                  <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Name: %moviename% </p>
                  <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Duration: %movieduration% Minutes
                  </p>
                  <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Genre: %moviegenre%</p>
                  <div style="padding-top: 10px;">
                    <div class="button">
                      <a style="font-size: 12px; color: black" class="btn btn-warning">Age Rating: %movieagerating%</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>

</body>
{{> footer}}
<style>
  body {
    background-color: black;
  }

  .homecontent,
  .homeimagedes,
  .footer,
  .comingsoon1des,
  .comingsoon2des,
  .comingsoon3des,
  .comingsoon4des,
  .comingsoontitle {
    color: gold;
  }

  div.footer {
    font-size: 10px;
  }

  div.homedescription {
    position: absolute;
    padding: 10px;
    top: 115px;
    left: 75px;
    height: 450px;
    width: 275px;
    border-color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
  }

  div.homeimageandpolicy {
    position: absolute;
    top: 115px;
    left: 315px;
    height: 475px;
    width: 750px;
  }

  div.moviescomingsoon {
    border-color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    position: absolute;
    padding-left: 25px;
    padding-top: 10px;
    top: 115px;
    left: 885px;
    height: 450px;
    width: 300px;
  }

  #homeimage {
    border-color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
  }

  div.homeimage {
    padding-left: 50px;
    height: 300px;
    width: 350px;
  }

  div.homeimagedes {
    font-size: 10px;
    padding-left: 50px;
    width: 550px;
    height: 35px;
  }

  div.homepolicy {
    padding-top: 10px;
    padding-left: 50px;
    width: 500px;
    height: 125px;
  }

  div.comingsoontitle {
    text-align: center;
    padding: 5px;
  }

  div.comingsoon1,
  div.comingsoon2,
  div.comingsoon3,
  div.comingsoon4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    float: left;
    width: 120px;
    height: 183px;
  }

  div.homecontentedit1 {
    padding-top: 365px;
    padding-left: 200px;
  }

  div.homecontentedit2 {
    padding-right: 5px;
    float: right;
  }

  div.homecontentedit3 {
    padding-left: 270px;
  }
</style>

<script>

  function table_row_image4(value, row, index) {
    return `
		<img src="/public/uploads/${row.movieimage}" 
        style="width: 85px; height: 130px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
  }

  function customViewFormatter4(data) {
    var template = $('#profileTemplate4').html()
    var view = ''
    $.each(data, function (i, row) {
      view += template
        .replace('%moviename%', row.moviename)
        .replace('%movieimage%', row.movieimage)
        .replace('%movieagerating%', row.movieagerating)
        .replace('%movieduration%', row.movieduration)
        .replace('%moviegenre%', row.moviegenre)
        .replace('%movieuuid%', row.movie_uuid);
    })
    return `<div class="row mx-0">${view}</div>`
  }
</script>