<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script
  src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<style>
  * {
    color: gold;
  }

  body {
    background-color: black;
  }

  div.blackblock {
    background-color: black;
    height: 25px;
  }

  h2,
  h3,
  h4,
  h5,
  .MovieName,
  .MovieTag,
  .MovieDuration,
  .SongName,
  .SongTag,
  .SongDuration {
    color: gold;
  }

  .RoomsPricing {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    padding-left: 5px;
    width: 300px;
    float: left;
  }

  .GVE {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 60%;
    float: left;
    background-color: gold;
    border: 1px solid grey;
  }

  .GVE h4,
  .GVE h5 {
    padding-left: 5px;
    float: left;
    color: black;
    background-color: gold;
  }

  .List {
    position: relative;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 800px;
    float: left;
  }

  .filter {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 33%;
    float: right;
    border: 1px solid grey;
  }

  .FilterOptions {
    list-style-type: none;
  }

  .List img {
    width: 150px;
    height: 235px;
    float: left;
  }

  .ListTable1 {
    width: 1050px;
    height: 400px;
    color: gold;
  }

  .ListTable2 {
    width: 1050px;
    height: 400px;
    float: left;
    color: gold;
  }

  .w3-container w3-white1 {
    width: 50%;
    float: left;
  }

  .w3-container w3-white2 {
    width: 35%;
    float: left;
  }

  .w3-container w3-white3 {
    width: 15%;
    float: right;
  }

  .Title {
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
    float: left;
  }

  .purchase {
    float: right;
    width: 95px;
    height: 40px;
    border: 1px solid;
    border-color: gold;
    color: gold;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .Review1 {
    float: right;
    width: 95px;
    height: 40px;
    border: 1px solid;
    border-color: gold;
    color: gold;
    position: absolute;
    bottom: 8px;
    right: 125px;
  }

  .purchase:hover,
  .Review1:hover,
  .filter:hover {
    background-color: gold;
    color: black;
  }

  th,
  td {
    font-size: 12.5px;
  }

  input.form-control.search-input {
    width: 165px;
  }

  .dropdown-menu.show,
  .dropdown-menu.dropdown-menu-right.show,
  .dropdown-item {
    color: gold;
    background-color: black;
    border-color: white;
  }

  label.dropdown-item.dropdown-item-marker:hover,
  .dropdown-item:hover {
    background-color: darkgrey;
    border-color: white;
  }

  a.page-link {
    color: gold;
    background-color: black;
    border-color: white;
  }

  li.page-item.active {
    color: gold;
    background-color: grey;
    border-color: white;
  }

  .collapsible {
    background-color: rgb(0, 0, 0);
    color: gold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(197, 153, 8);
  }

  .w3-third.w3-container.w3-margin-bottom {
    height: 450px;
    width: 1135px;
    overflow: auto;
  }


  div.blackblock {
    background-color: black;
    height: 7px;
  }

  input.form-control.search-input {
    left: 10px;
  }

  div.fixed-table-toolbar {
    width: 1100px;
  }
</style>

<title>Movie/Karaoke Selection</title>
{{>navbar}}

{{!-- {{#if (cmp_eq user.role "staff") }}
<h2>Location</h2>

<form action="../rooms/chooseeditroomstable">
  <input type="submit" value="Edit Rooms" class="btn btn-outline-warning">
</form> --}}

{{!-- <div style="float: left; padding-top: 10px;">
  <div class="submit">
    <form action="../rooms/chooseeditroomstable">
      <input type="submit" value="Edit Rooms" class="btn btn-outline-warning">
    </form>
  </div>
  <div class="blackblock1"></div>
</div>
{{/if}} --}}

{{#if (cmp_ne user.role "staff") }}
<div style="padding: 10px;">
  <h1>Movies</h1>
</div>

<div class="w3-third w3-container w3-margin-bottom">
  <table id="id" data-toggle="table" data-search="true" data-pagination="true" data-total-field="total"
    data-data-field="rows" data-side-pagination="server" data-sort-name="moviename" data-server-sort="true"
    data-search="true" data-pagination="true" data-page-list="[6, 12, 24, 50, All]" data-show-columns-search="true"
    data-addrbar="true" data-show-custom-view="true" data-custom-view="customViewFormatter2"
    data-url="/movie/chooseeditmoviestable-data">
    <thead>
      <tr>
        <th data-field="dateCreated" data-sortable="true">Creation Date</th>
        <th data-field="dateUpdated" data-sortable="true">Update Date</th>
        <th data-formatter="table_row_image2">Movie Poster</th>
        <th data-field="moviename" data-sortable="true">Name</th>
        <th data-field="movieagerating" data-sortable="true">Age Rating</th>
        <th data-field="movieduration" data-sortable="true">Duration</th>
        <th data-field="moviegenre" data-sortable="true">Genre(s)</th>

        {{!-- <th data-field="dateCreated" data-sortable="true">Creation Date</th>
        <th data-field="dateUpdated" data-sortable="true">Update Date</th>
        <th data-field="roomname" data-sortable="true">Name</th>
        <th data-field="roomsize" data-sortable="true">Size</th>
        <th data-field="roomprice" data-sortable="true">Price</th>
        <th data-field="roominfo" data-sortable="true">Information</th>
        <th data-field="location" data-sortable="true">Location</th> --}}
      </tr>
    </thead>
  </table>
  <template id="profileTemplate2" style="color: black;">
    <div class="mt-2" style="float:left; padding-right:10px;">
      <div class="card" style="border-color: gold; background-color: black; width:350px;">
        <div class="card-body" style="padding-left:30px; box-sizing: border-box; position: relative;">
          <div class="row">
            <img src="../public/uploads/%movieimage%"
              style="border-width: thin; border-style:solid; border-radius: 5px; width: 120px; height: 150px; float: left;"
              alt="">
            <div style="float: left; padding-left:10px;">
              <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Name: %moviename% </p>
              <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Duration: %movieduration% Minutes
              </p>
              <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Genre: %moviegenre%</p>
              <div style="padding-top: 10px;">
                <div class="button">
                  <a style="font-size: 12px; color: black" class="btn btn-warning">Age Rating: %movieagerating%</a>
                </div>
              </div>
              <div style="padding-top: 14px; padding-left: 112px;">
                <form action="../">
                  <input style="font-size: 15px;" type="submit" value="Review" class="btn btn-outline-warning">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>

<div class="blackbox" style="height: 25px;"></div>

<div style="padding: 10px;">
  <h1>Karaoke</h1>
</div>

<div class="w3-third w3-container w3-margin-bottom">
  <table id="id" data-toggle="table" data-search="true" data-pagination="true" data-total-field="total"
    data-data-field="rows" data-side-pagination="server" data-sort-name="songname" data-server-sort="true"
    data-search="true" data-pagination="true" data-page-list="[6, 12, 24, 50, All]" data-show-columns-search="true"
    data-addrbar="true" data-show-custom-view="true" data-custom-view="customViewFormatter3"
    data-url="/song/chooseeditsongstable-data">
    <thead>
      <tr>
        <th data-field="dateCreated" data-sortable="true">Creation Date</th>
        <th data-field="dateUpdated" data-sortable="true">Update Date</th>
        <th data-formatter="table_row_image3">Song Poster</th>
        <th data-field="songname" data-sortable="true">Name</th>
        <th data-field="songagerating" data-sortable="true">Age Rating</th>
        <th data-field="songduration" data-sortable="true">Duration</th>
        <th data-field="songgenre" data-sortable="true">Genre(s)</th>

      </tr>
    </thead>
  </table>
  <template id="profileTemplate3" style="color: black;">
    <div class="mt-2" style="float:left; padding-right:10px;">
      <div class="card" style="border-color: gold; background-color: black; width:350px;">
        <div class="card-body" style="padding-left:30px; box-sizing: border-box; position: relative;">
          <div class="row">
            <img src="../public/uploads/%songimage%"
              style="border-width: thin; border-style:solid; border-radius: 5px; width: 120px; height: 150px; float: left;"
              alt="">
            <div style="float: left; padding-left:10px;">
              <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Name: %songname% </p>
              <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Duration: %songduration% Minutes
              </p>
              <p class="mb-0 text-truncated" style="width:175px; font-size: 13px;">Genre: %songgenre%</p>
              <div style="padding-top: 10px;">
                <div class="button">
                  <a style="font-size: 12px; color: black" class="btn btn-warning">Age Rating: %songagerating%</a>
                </div>
              </div>
              <div style="padding-top: 14px; padding-left: 112px;">
                <form action="../">
                  <input style="font-size: 15px;" type="submit" value="Review" class="btn btn-outline-warning">
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </template>
</div>

<div class="blackbox" style="height: 100px;"></div>

{{else}}
<div class="List" style="padding-left: 35px;">
  {{!-- <h3>Book a room now for singing/watching movies!</h3> --}}
  <div class="ListTable1">
    <div class="blackblock"></div>
    <h1>Movie Data Table</h1>
    <div style="float: left; padding-top: 10px;" class="CreateMoviesAndSongs">
      <div class="submit">
        <form action="../movie/createmovie">
          <input type="submit" value="Add Movie" class="btn btn-outline-warning">
        </form>
      </div>
      <div class="blackblock"></div>
    </div>
    {{!-- <div id="toolbar" class="select">
      <select class="form-control">
        <option value="">Export Basic</option>
        <option value="all">Export All</option>
        <option value="selected">Export Selected</option>
      </select>
    </div> --}}
    <table id="id" data-show-export="true" data-toggle="table" data-search="true" data-pagination="true"
      data-total-field="total" data-data-field="rows" data-show-columns-toggle-all="true" data-side-pagination="server"
      data-sort-name="moviename" data-height="600" data-silent-sort="false" data-server-sort="true" data-search="true"
      {{!-- data-page-number="50" --}} data-pagination="true" {{!-- data-page-size="5" --}}
      data-page-list="[5, 10, 25, 50, 100, All]" data-show-refresh="true" data-show-columns="true"
      data-show-columns-search="true" ata-addrbar="true" data-url="/movie/chooseeditmoviestable-data">
      <thead>
        <tr>
          <th data-field="dateCreated" data-sortable="true">Creation Date</th>
          <th data-field="dateUpdated" data-sortable="true">Update Date</th>
          <th data-formatter="table_row_image2">Movie Poster</th>
          <th data-field="moviename" data-sortable="true">Name</th>
          <th data-field="movieagerating" data-sortable="true">Age Rating</th>
          <th data-field="movieduration" data-sortable="true">Duration</th>
          <th data-field="moviegenre" data-sortable="true">Genre(s)</th>
          <th data-field="moviecountdown" data-sortable="true">End Release Date</th>
          <th data-formatter="table_row_edit2">Edit</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="List" style="height: 25px;"> </div>

  <div class="ListTable2">
    <h1>Song Data Table</h1>
    <div style="float: left; padding-top: 10px;" class="CreateMoviesAndSongs">
      <div class="submit">
        <form action="../song/createsong">
          <input type="submit" value="Add Song" class="btn btn-outline-warning">
        </form>
      </div>
      <div class="blackblock1"></div>
    </div>
    <table width="100%" data-cookie-id-table="saveId" id="id" data-toolbar="#toolbar" data-show-export="true"
      data-toggle="table" data-search="true" data-pagination="true" data-total-field="total" data-data-field="rows"
      data-show-columns-toggle-all="true" data-side-pagination="server" data-sort-name="songname" data-height="600"
      data-silent-sort="false" data-server-sort="true" data-search="true" {{!-- data-page-number="50" --}}
      data-pagination="true" {{!-- data-page-size="5" --}} data-page-list="[10, 25, 50, 100, 200, All]"
      data-show-refresh="true" data-show-columns="true" data-show-columns-search="true" data-addrbar="true"
      data-url="/song/chooseeditsongstable-data">
      <thead>
        <tr>
          <th data-field="dateCreated" data-sortable="true">Creation Date</th>
          <th data-field="dateUpdated" data-sortable="true">Update Date</th>
          <th {{!-- data-field="movieimage" --}} data-formatter="table_row_image3">Song Poster</th>
          <th data-field="songname" data-sortable="true">Name</th>
          <th data-field="songagerating" data-sortable="true">Age Rating</th>
          <th data-field="songduration" data-sortable="true">Duration</th>
          <th data-field="songgenre" data-sortable="true">Genre(s)</th>
          <th data-formatter="table_row_edit3">Edit</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{{/if}}

<script>

  function customViewFormatter2(data) {
    var template = $('#profileTemplate2').html()
    var view = ''
    $.each(data, function (i, row) {
      view += template
        .replace('%moviename%', row.moviename)
        .replace('%movieimage%', row.movieimage)
        .replace('%movieagerating%', row.movieagerating)
        .replace('%movieduration%', row.movieduration)
        .replace('%moviegenre%', row.moviegenre)
        .replace('%movieuuid%', row.movie_uuid);
    })
    return `<div class="row mx-0">${view}</div>`
  }

  function customViewFormatter3(data) {
    var template = $('#profileTemplate3').html()
    var view = ''
    $.each(data, function (i, row) {
      view += template
        .replace('%songname%', row.songname)
        .replace('%songimage%', row.songimage)
        .replace('%songagerating%', row.songagerating)
        .replace('%songduration%', row.songduration)
        .replace('%songgenre%', row.songgenre)
        .replace('%songuuid%', row.song_uuid);
    })
    return `<div class="row mx-0">${view}</div>`
  }

  function table_row_image3(value, row, index) {
    return `
		<img src="/public/uploads/${row.songimage}" 
        style="width: 85px; height: 130px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
  }
  /**
   * Formats the action column for each row of data
   **/
  function table_row_edit3(value, row, index) {
    return `
		<a href="../song/updatesong/${row.song_uuid}">
			<i class="fa fa-edit"></i>
		</a>
		<a href="../song/deletesong/${row.song_uuid}">
			<i class="fa fa-trash"></i>
		</a>
		`;
  }
  function table_row_image2(value, row, index) {
    return `
		<img src="/public/uploads/${row.movieimage}" 
        style="width: 85px; height: 130px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
  }
  /**
   * Formats the action column for each row of data
   **/
  function table_row_edit2(value, row, index) {
    return `
		<a href="../movie/updatemovie/${row.movie_uuid}">
			<i class="fa fa-edit"></i>
		</a>
		<a href="../movie/deletemovie/${row.movie_uuid}">
			<i class="fa fa-trash"></i>
		</a>
		`;
  }
</script>