<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script
    src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
<style>
    * {
        color: gold;
    }

    body {
        background-color: black;
    }

    .List {
        position: relative;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        width: 800px;
        float: left;
    }

    th,
    td {
        font-size: 14px;
    }

    .ListTable1 {
        width: 1100px;
        height: 400px;
        color: gold;
    }

    input.form-control.search-input {
        width: 165px;
    }

    .dropdown-menu.show,
    .dropdown-menu.dropdown-menu-right.show,
    .dropdown-item {
        color: gold;
        background-color: black;
        border-color: white;
    }

    label.dropdown-item.dropdown-item-marker:hover,
    .dropdown-item:hover {
        background-color: darkgrey;
        border-color: white;
    }

    div.blackblock {
        background-color: black;
        height: 25px;
    }

    i.fa.fa-edit:hover,
    i.fa.fa-trash:hover {
        background-color: darkgrey;
    }

    td {
        width: 150px;
    }
</style>
{{>navbar}}

<div class="List">
    <div class="ListTable1">
        <div class="blackblock"></div>
        <h1>Rooms Data Table</h1>
        {{!-- <button><a class="nav-link" href="/admin/option">Add more Option</a></button> --}}
        <div class="submit">
            <form action="../room/createrooms">
                <input type="submit" value="Add Rooms" class="btn btn-outline-warning">
            </form>
        </div>
        <div id="toolbar" class="select">
            <select class="form-control" style="color: #000000;">
                <option value="" style="color: #000000;">Export Basic</option>
                <option value="all" style="color: #000000;">Export All</option>
                <option value="selected" style="color: #000000;">Export Selected</option>
            </select>
        </div>

        <table id="table" data-show-footer="true" data-show-toggle="true" data-toolbar="#toolbar" data-toggle="table"
            data-url="/room/chooseeditroomstable-data" data-search="true" data-pagination="true" data-height="600"
            data-total-field="total" data-silent-sort="false" data-data-field="rows" data-side-pagination="server"
            data-sort-name="location" data-server-sort="true" data-addrbar="true" data-show-export="true"
            data-filter-control="true" data-show-columns="true" data-show-columns-toggle-all="true"
            data-click-to-select="true" data-show-columns-search="true" data-page-list="[5, 10, 25, 50, all]" 
            data-show-custom-view="true" data-show-refresh="true">

            <thead>
                <tr>
                    <th data-field="dateCreated" data-sortable="true">
                        Creation Date</th>
                    <th data-field="dateUpdated" data-sortable="true">Update Date</th>
                    <th data-field="roomname" data-sortable="true">Name</th>
                    <th data-field="roomsize" data-sortable="true">Size</th>
                    <th data-field="roomprice" data-sortable="true">Price($)</th>
                    <th data-field="roominfo" data-sortable="true">Information</th>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th></th>
                    <th data-formatter="table_row_edit">Edit</th>
                    <th data-formatter="table_row_image" data-sortable="true" data-footer-formatter="nameFormatter1">
                        Image</th>
                    {{#if (cmp_eq user.role "manager") }}
                    <th data-field="action" data-formatter="tickets">Ticket Details</th>
                    {{/if}}
                </tr>
            </thead>
        </table>
        <div class="blackblock"></div>
    </div>
</div>
</div>
<script>
    var $table = $('#table')
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                exportOptions: {
                    modifier: {
                        page: 'current'
                    }
                },
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        visible: $(this).val() === 'selected'
                    },
                    {
                        field: 'dateCreated',
                        title: 'Creation Date'
                    },
                    {
                        field: 'dateUpdated',
                        title: 'Update Date'
                    },
                    {
                        field: 'roomname',
                        title: 'Name'
                    },
                    {
                        field: 'roomsize',
                        title: 'Size'
                    },
                    {
                        field: 'roomprice',
                        title: 'Price'
                    },
                    {
                        field: 'roominfo',
                        title: 'Information'
                    },
                    {
                        field: 'location',
                        title: 'Location'
                    },
                    {
                        formatter: 'table_row_image',
                        title: 'Image',
                        height: 200
                    },
                    {
                        formatter: 'table_row_edit',
                        title: 'Edit'
                    }
                ]
            })
        }).trigger('change')
    })

    function nameFormatter1(data) {
        return data.length + " Rooms Total";
    }

    function table_row_image(value, row, index) {
        return `
		<img src="/public/uploads/${row.roomimage}" 
        style="width: 160px; height: 120px; padding-bottom: 5px;"
        alt="Norway" class="w3-hover-opacity">
		`;
    }

    /**
     * Formats the action column for each row of data
     **/
    function table_row_edit(value, row, index) {
        return `
		<a href="../room/updateroom/${row.room_uuid}">
			<i class="fa fa-edit"></i>
		</a>

		<a href="../room/deleteroom/${row.room_uuid}">
			<i class="fa fa-trash"></i>
		</a>
		`;
    }
    function tickets(value, row, index) {
        return `
		<a href="../room/ticket/${row.room_uuid}">
			<i class="fas fa-ticket-alt"></i>
		</a>
		`;
    }
</script>