<style>
    @mixin vertical-align($position: relative) {
        position: $position;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    body,
    html {
        background: #000000;
    }

    #wrapper {
        width: 600px;
        margin: 0 auto;
        margin-top: 15%;
    }

    h1 {
        color: #FDD017;
        text-shadow: -1px -2px 3px rgba(17, 17, 17, 0.3);
        text-align: center;
        font-family: "Monsterrat", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 80px;
        margin-bottom: -5px;
    }

    h1 underline {
        border-top: 5px solid rgba(26, 188, 156, 0.3);
        border-bottom: 5px solid rgba(26, 188, 156, 0.3);
    }

    h3 {
        width: 570px;
        margin-left: 16px;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        color: #FDD017;
    }

    button {
        width: 140px;
        margin-left: 5px;
        appearance: none;
        padding: 10px 15px;
        font-size: 20px;
        color: #000000;
        background-color: #00FFFF;
        position: relative;
        top: 20px;
        left: 430px;
    }

    button:hover {
        background-color: #FDD017
    }
</style>
</head>

<body>
    <div id="wrapper" class="animated zoomIn">
        <!-- We make a wrap around all of the content so that we can simply animate all of the content at the same time. I wanted a zoomIn effect and instead of placing the same class on all tags, I wrapped them into one div! -->
        <h1>
            <!-- The <h1> tag is the reason why the text is big! -->
            <underline>Thank you!</underline>
            <!-- The underline makes a border on the top and on the bottom of the text -->
        </h1>
        <h3>
            You have successfully booked a room at {{room_details.location}}!
            <!-- The <h3> take is the description text which appear under the <h1> tag. It's there so you can display some nice message to your visitors! -->
        </h3>
    </div>
    {{!-- {% for i in booked_list %}
    {% if i == booked_list[-1] %} --}}
    <a href="/"> <button class="button">Home</button></a>
    <a href="/ticketlist/tickettable"> <button class="button">My Tickets</button></a>
    <a href="/view/{{ticket.uuid}}">
        <button class="button">View Ticket</button>
    </a>
    {{!-- {% endif %}
    {% endfor %} --}}
</body>