<style>
    body {
    background: rgb(0, 0, 0)
}

#regForm {
    background-color: gold;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

#register {
    color: #000000
}

h1 {
    text-align: center
}

.details {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none
}
#pay{
    width: 20%
}

.tab input:focus {
    border: 1px solid #6a1b9a !important;
    outline: none
}

input.invalid {
    border: 1px solid #e03a0666
}

.tab {
    display: none
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important
}

#prevBtn {
    background-color: #bbbbbb
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #000000;
    opacity: 0.5
}

.step.active {
    opacity: 1
}

.step.finish {
    color: #fff;
    background: #000000;
    opacity: 1
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}
</style>
<style>
    table,
    td,
    th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }
</style>
{{> navbar}}
<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm" action="/user/booking/{{choice}}" method="post" >
                <h1 id="register">Booking Room for {{choice}}</h1>
                <div class="all-steps" id="all-steps"> <span class="step"><i class="fa fa-book"></i></span></div>
                <div >
                    <h5>Choose the <bold>location:</bold></h5>
                    <p> 
                        <select  class="details" id="venue" name="location"  onmousedown="myFunction()">
                            {{#each location}}
                        <option >{{this}}</option>
                        {{/each}}
                    </select></p>
                </div>
                <div >
                    <h5>Choose the <bold>Date:</bold></h5>
                    <select name="date" class="details" onmousedown="mydate()" id="date">
                    </select>
                    <p></p>
                </div>
                <div >
                    <h5>Choose the <bold>Timeslot:</bold></h5>
                    <select name="time" class="details" onmousedown="mytime()" id="time">
                    </select>
                </div>
                <div id="room">
                    <h5>Choose the <bold>Room Size:</bold></h5>
                   <span id="small"> <input type="radio" name="room" value="small">
                    <label for="small">Small Room</label><br></span>
                    <span id="medium"></span> <input type="radio" id="medium" name="room" value="medium">
                    <label for="medium">Medium Room</label><br></span>
                    <span id="large"></span> <input type="radio" id="large" name="room" value="large">
                    <label for="large" >Large Room</label>
                <input type='Submit' class='btn btn-primary pull-right' id='pay' value='Proceed to Pay'>
            </div>
            </form>
        </div>
    </div>
<script>
        document.getElementById("date").style.display = "none";
        document.getElementById("time").style.display = "none";
        document.getElementById("room").style.display = "none";
        async function myFunction() {
            document.getElementById("date").style.display = "none";
            document.getElementById("time").style.display = "none";
            document.getElementById("room").style.display = "none";
            var d = document.getElementById("date");
            for(let n = 0; n < document.getElementById("date").options.length; n++){
            d.remove(d[n]);
            }
            const response = await fetch("/user/date", {
                headers: {
                    "Content-Type": "application/json"
                },
                method: "POST",
                body: JSON.stringify({
                    location: document.getElementById("venue").value
                })
            });
            if (response.ok) {
                const content = await response.json();
                showdate(content.date);
            }
        }
        function showdate(date) {
           console.log(date);
            var x = document.getElementById("date");
            document.getElementById("date").style.display = "inline";
            for (let i = 0; i < date.length; i++) {
                 var option = document.createElement("option");
                option.text = date[i];
                x.add(option)
            }
        }
    </script>
        <script>
            async function mydate() {
                document.getElementById("time").style.display = "none";
                document.getElementById("room").style.display = "none";
                 var t = document.getElementById("time");
                for (let x = 0; x < document.getElementById("time").options.length; x++) {
                    t.remove(t[x]);
                }
                const response = await fetch("/user/time", {
                    headers: {
                        "Content-Type": "application/json"
                    },
                    method: "POST",
                    body: JSON.stringify({
                        location: document.getElementById("venue").value,
                        date: document.getElementById("date").value
                    })
                });
                if (response.ok) {
                    const content = await response.json();
                    showtime(content.time);
                }
            }
            function showtime(time) {
                var x = document.getElementById("time");
                document.getElementById("time").style.display = "inline";
                for (let i = 0; i < time.length; i++) {
                    var option = document.createElement("option");
                    option.text = time[i];
                    x.add(option)
                }
            }
        </script>
        <script>
            async function mytime() {
               document.getElementById("room").style.display = "none";
                const response = await fetch("/user/roomtype", {
                    headers: {
                        "Content-Type": "application/json"
                    },
                    method: "POST",
                    body: JSON.stringify({
                        location: document.getElementById("venue").value,
                        date: document.getElementById("date").value,
                        time: document.getElementById("time").value
                    })
                });
                if (response.ok) {
                    const content = await response.json();
                    someroom(content.room);
                }
            }
            function someroom(room) {
                document.getElementById("room").style.display = "inline";
                console.log(room);
                if(room[0] == false){
                document.getElementById("small").style.display = "none";}
                if (room[1] == false) {
                document.getElementById("medium").style.display = "none";}
                if (room[2] == false) {
                document.getElementById("large").style.display = "none";}
            }
        </script>
 <script>

        function validateForm() {
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            for (i = 0; i < y.length; i++) { if (y[i].value == "") { y[i].className += " invalid"; valid = false; } } if (valid) { document.getElementsByClassName("step")[currentTab].className += " finish"; } return valid;
        } function fixStepIndicator(n) { var i, x = document.getElementsByClassName("step"); for (i = 0; i < x.length; i++) { x[i].className = x[i].className.replace(" active", ""); } x[n].className += " active"; }

</script>