{{>navbar}}
<h1 class="display-4"style="text-align:center">Contact Us </h1>
<br>
<p style="font-size:20px">Do feel free to contact us at the following : </p>
<br>

<style>
  body{
    background-color: rgb(255, 255, 255);
  }
table td {
  width: 30%;
  border-collapse: collapse;
  border: solid rgb(206, 186, 11);
  font-size: 20px;
 
}
</style>
</head>

<body>


<table>
    <tr>Relevant Information</tr>
  <tr>
    <td>Name of Company : </td>
    <td>Golden Cinema </td>
  </tr>
  <tr>
    <td>Business Registration Number : </td>
    <td>7L11x3sArAn1sD0gj1e3V2047</td>
  </tr>
  <tr>
    <td>Address : </td>
    <td>Golden Cinema Multiplex Ltd<br>
        Suntec City Mall<br>
        Singapore 038983
    </td>
  </tr>
  <tr>
      <td>Email : </td>	
      <td>Email us at support@gmail.com or <a class="nav-link" href="/review/faq">here</a> for more information ! </td>
  </tr>
  <tr>
      <td>Head Office Operating Hours :</td>
      <td>10am to 5.30pm <br> (Mondays to Fridays, except on public holidays)</td>
  </tr>
  <tr>
      <td>Cinema Location Operating Hours :</td>
      <td>1 hour before the first slot and after the last slot.<br>
Remember to check the slots for the respective day .</td>
  </tr>
  <tr>
      <td>Others :</td>
      <td>Do give us a review of our site <a class="nav-link" href="/review/create">here</a> it is greatly appreciated!</td>
  </tr>
</table>
 <p> Thank You for using Golden Cinema</p>
<table>
    
</table>
</body>



