<h1>Hello Saran!</h1>
<h2>Room Details</h2>
<table>
    <tr>
        <th>Choice</th>
        <th>Location</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>{{movie_details.choice}}</td>
        <td>{{movie_details.location}}</td>
        <td>{{movie_details.date}}</td>
    </tr>
</table>